@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    grid-template-columns: 10% auto;
    
    grid-template-areas:"nav header "
                        "nav main "
                        "footer footer";
        
}
.header{
    grid-area: header;
    background-color: blue;    
}
.nav{
    grid-area: nav;
    background-color: brown;
}
main{
    grid-area: main;
    background-color: crimson;
}
footer{
    grid-area: footer;
    background-color: aqua;
}
.img__logo{
    width: 80%;
}
.footer__img{
   width: 5%;
}
.div__chat{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 3.1rem;
    width: 3.1rem;
    background-color:rgb(42, 134, 88) ;
}