@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-areas: "nav header " "nav main " "footer footer";
  grid-row: 0.25fr 1.5fr 0.25;
  grid-template-columns: 10% auto; }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

/*inicio hedear*/
header {
  background-color: #2a8658; }

/*titulo header*/
h1 {
  font-size: 2rem;
  color: #ede7e3;
  font-family: 'Poppins', sans-serif;
  margin-top: 2%; }

/*navegador header*/
.animate__animate.animate__flash {
  animation-duration: 5S; }

.animate_animate.animate__bounceInRight {
  animation-duration: 2s; }

/*imagen header*/
.img__logo {
  width: 8%;
  margin-top: 0.2%; }

/*lista navegacion header*/
nav {
  margin-top: 45%;
  position: fixed;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0%;
  z-index: 10;
  font-size: 1.1rem;
  font-weight: bolder;
  color: white;
  background-color: #2a8658; }

/* titulo main index*/
h2 {
  font-style: normal;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #2a8658;
  text-decoration: underline; }

/*subtitulos main index*/
.h3__inicio {
  font-family: 'Poppins', sans-serif;
  color: #2a8658;
  font-size: 1rem;
  font-weight: bolder; }

/*parrafo main index*/
.parrafo__inicio {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  color: #2a8658; }

/*footer*/
footer {
  background-color: #2a8658; }

/*titulo footer*/
.footer__h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #ced8d4;
  font-family: 'Roboto', sans-serif;
  margin-left: 40%;
  margin-top: 0.5%; }

/* imagen footer*/
.footer__img {
  position: absolute;
  margin-top: 1%;
  margin-left: 400px;
  width: 4%;
  height: 8%; }

.footer__ul {
  margin-left: 32%; }

/*lista footer*/
.footer__li {
  margin-left: 3%;
  display: inline-block;
  list-style: none;
  text-decoration: none; }

/*lista footer*/
.footer__a {
  color: #ced8d4;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-decoration: none; }

/*primer seccion producto*/
.producto {
  font-size: 0.5rem;
  font-family: 'Poppins', sans-serif;
  color: #59c783;
  text-decoration: none; }

/*primer lista de producto*/
.producto__li {
  display: inline-block;
  border-style: none;
  text-decoration: none;
  margin: 0.3%; }

/*primer lista de producto*/
.producto__a {
  list-style: none;
  color: #179c39;
  font-size: 1rem;
  font-weight: bold;
  border-style: none; }

/*producto general*/
.producto2__titulo {
  color: #26813a;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 2%; }

/*genero perfumes*/
.producto2__subtitulo {
  color: #475f4c;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin-top: 2%;
  font-weight: bold; }

/*producto*/
.producto2__li {
  color: #23a138;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center; }

/*precio producto*/
.productos2__p {
  color: #23a138;
  font-family: 'Poppins', sans-serif;
  font-weight: normal; }

.img__perfumeof {
  width: 30%;
  height: 30%;
  margin-left: 80%; }

.img__perfumeo {
  width: 40%;
  height: 50%;
  margin-left: 33%; }

.img__originales {
  width: 50%;
  height: 60%;
  transition: 1s; }

.img__originales:hover {
  transform: scale(1.2); }

.galeria_img:hover {
  transform: scale(1.2); }

/*parafo quien soy*/
.parrafo__quiensoy {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #2a8658; }

/*imagenes de ofertas*/
.img__ofertas {
  width: 20%;
  height: 70%; }

.tarjeta {
  margin: 2%; }

.section__galeria {
  padding-bottom: 1%;
  padding-top: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 23%;
  grid-template-areas: 'img1 img2 img3 img3' 'img1 img4 img3 img3' 'img5 img5 img7 img7' 'img5 img5 img6 img8';
  gap: 1%;
  margin: 1%; }

.galeria_imagenes--g1 {
  grid-area: img1; }

.galeria_imagenes--g2 {
  grid-area: img2; }

.galeria_imagenes--g3 {
  grid-area: img3; }

.galeria_imagenes--g4 {
  grid-area: img4; }

.galeria_imagenes--g5 {
  grid-area: img5; }

.galeria_imagenes--g6 {
  grid-area: img6; }

.galeria_imagenes--g7 {
  grid-area: img7; }

.galeria_imagenes--g8 {
  grid-area: img8; }

.galeria_img {
  width: 100%;
  height: 100%;
  /*la imagen no pierde la resolucion */
  object-fit: cover; }

.section__contacto {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2%; }

/*formulario contacto*/
form {
  color: #2a8658;
  font-size: 1.5rem; }

.form {
  margin-left: 20%; }

/*parrafo ifrem contacto*/
.parrafo__contacto {
  font-size: 1rem;
  color: #2a8658; }

.icon {
  font-size: 1.5rem;
  animation: float 4s ease-in-out infinite; }

.fa-whatsapp {
  animation-delay: 1.5s; }

.fa-facebook {
  animation-delay: 0.5s; }

.fa-instagram {
  animation-delay: 1s; }

@keyframes float {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-25px); }
  100% {
    transform: translateX(0); } }

.parrafo__contacto {
  font-size: 1rem; }

.animate_animate.animate__backInDown {
  animation-duration: 3s; }

.animate_animate.animate__bounceInDown {
  animation-duration: 3s; }

.animate_animate.animate__bounceInUp {
  animation-duration: 3s; }

.animate_animate.animate__fadeInDown {
  animation-duration: 2s; }

.animate_animate.animate__fadeInDown {
  animation-duration: 2s; }

.fa-solid {
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contenedor {
    display: flex;
    flex-direction: column; }
  nav {
    margin-top: 0%; }
  .img__logo {
    width: 10%; }
  h1 {
    font-size: 0.8rem; }
  h2 {
    font-size: 1.3rem; }
  .h3__inicio {
    font-size: 1rem; }
  .parrafo__inicio {
    font-size: 0.8rem; }
  .footer__h3 {
    font-size: 1.2rem;
    margin-left: 18%; }
  .footer__img {
    position: absolute;
    margin-top: 1%;
    margin-left: 5%;
    width: 6%;
    height: 6%; }
  .footer__ul {
    margin-left: 12%; }
  .footer__li {
    display: inline-block;
    list-style: none;
    text-decoration: none; }
  .footer__a {
    font-size: 0.8rem;
    text-decoration: none; }
  .icon {
    font-size: 0.8rem; }
  .producto2__li {
    flex: 50%; }
  .producto2__titulo {
    font-size: 0.5; }
  .producto2__titulo {
    font-size: 0.7rem; }
  .img__quiensoy {
    width: 100%; }
  .parrafo__quiensoy {
    font-size: 1rem; }
  .form {
    margin-left: 10%; }
  form {
    font-size: 1rem; }
  .comentario {
    width: 100%; }
  .ifrem {
    width: 200%; }
  .parrafo__contacto {
    font-size: 1rem; }
  table, td {
    margin: auto;
    font-size: 0.5rem;
    font-weight: bold; }
  table, th {
    font-size: 0.8rem; }
  .section__galeria {
    display: flex;
    flex-direction: column; }
  .navegador__a:hover {
    font-size: 1rem; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedor {
    display: flex;
    flex-direction: column; }
  nav {
    margin-top: 0%;
    font-size: 1.2rem; }
  .img__logo {
    width: 15%; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  .section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center; }
  .h3__inicio {
    font-size: 1.5rem; }
  .parrafo__inicio {
    font-size: 1.3rem; }
  .footer__h3 {
    font-size: 1.8rem;
    margin-left: 25%; }
  .footer__img {
    position: absolute;
    margin: 1%;
    margin-left: 5%;
    width: 6%;
    height: 6%; }
  .footer__ul {
    margin-left: 15%; }
  .footer__li {
    display: inline-block;
    list-style: none;
    text-decoration: none; }
  .footer__a {
    font-size: 1.5rem;
    text-decoration: none; }
  .icon {
    font-size: 1.2rem; }
  .producto__li {
    display: block;
    margin-left: 20%; }
  .producto2__titulo {
    font-size: 0.8; }
  .producto2__titulo {
    font-size: 1rem; }
  .parrafo__quiensoy {
    font-size: 1.2rem; }
  .parrafo__contacto {
    font-size: 1.5rem; }
  table, td {
    margin: auto;
    font-size: 0.5rem;
    font-weight: bold; }
  table, th {
    font-size: 0.8rem; }
  .section__galeria {
    display: flex;
    flex-direction: column; }
  .navegador__a:hover {
    font-size: 1.2rem; } }
