@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-areas: "nav header " "nav main " "footer footer";
  grid-row: 0.25fr 1.5fr 0.25;
  grid-template-columns: 10% auto; }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

header {
  background-color: #2a8658; }

/*titulo header*/
h1 {
  font-size: 2rem;
  color: #ede7e3;
  font-family: "Poppins", sans-serif;
  margin-top: 1%;
  font-weight: bold; }

/*navegador header*/
.animate__animate.animate__flash {
  animation-duration: 5S; }

.animate_animate.animate__bounceInRight {
  animation-duration: 2s; }

/*imagen header*/
.img__logo {
  width: 7%;
  margin-top: 0.2%; }

/*lista navegacion header*/
.nav {
  background-color: #2a8658;
  flex-direction: column; }
  .nav .navegador {
    margin-top: 30%;
    position: fixed;
    position: sticky;
    top: 0; }
    .nav .navegador .navegador__li, .nav .navegador .navegador__li .navegador__a {
      font-size: 1.1rem;
      font-weight: bolder;
      color: white; }
      .nav .navegador .navegador__li .navegador__a:hover {
        transform: scale(1.2); }

/* titulo main index*/
h2 {
  font-style: normal;
  font-size: 1.8rem;
  font-family: 2rem;
  color: #2a8658;
  text-decoration: underline;
  margin: 0.5%; }

/*subtitulos main index*/
.h3__inicio {
  font-family: "Poppins", sans-serif;
  color: #2a8658;
  font-size: 1.1rem;
  font-weight: bolder; }

/*parrafo main index*/
.parrafo__inicio, .parrafo__quiensoy, .parrafo__contacto {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  color: #2a8658; }

.img__inicio {
  object-fit: cover; }

/*footer*/
.footer {
  background-color: #2a8658; }
  .footer .footer__ul {
    list-style-type: none;
    margin-left: 33%;
    text-decoration: none; }
    .footer .footer__ul .footer__li {
      margin-left: 3%;
      display: inline-block;
      text-decoration: none; }
      .footer .footer__ul .footer__li .footer__a {
        text-decoration: none;
        color: #ced8d4;
        font-family: "Roboto", sans-serif;
        font-size: 1.1rem; }

/*titulo footer*/
.footer__h3 {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  color: #ced8d4;
  font-weight: bolder;
  margin-left: 42%;
  margin-top: 1%; }

/* imagen footer*/
.footer__img {
  margin-right: 1%;
  width: 5%; }

/*primer seccion producto*/
.producto {
  font-size: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: #59c783;
  text-decoration: none; }

/*primer lista de producto*/
.producto__li {
  display: inline-block;
  border-style: none;
  text-decoration: none;
  margin: 0.6%;
  margin-top: 1%; }
  .producto__li .producto__a {
    list-style: none;
    color: #179c39;
    font-size: 1rem;
    font-weight: bold;
    border-style: none; }

.ul__producto {
  justify-content: space-evenly; }

.tarjeta {
  margin-top: 2%; }

/*producto general*/
.producto2__ul {
  list-style-type: none;
  display: inline-block; }

.producto2__titulo {
  color: #26813a;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin-top: 2%; }

/*genero perfumes*/
.producto2__subtitulo {
  color: #475f4c;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin-top: 2%;
  font-weight: bold; }

/*producto*/
.producto2__li, .productos2__p {
  color: #23a138;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center; }

/*precio producto*/
.productos2__p {
  font-weight: normal; }

.mi__imagen {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 40%;
  width: 20%; }

.img__perfumeof {
  width: 30%;
  height: 30%;
  margin-left: 80%; }

.img__perfumeo {
  width: 40%;
  height: 50%;
  margin-left: 33%; }

.modal {
  display: none; }

.modal:target {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0; }

.modal h3 {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  margin: 15px 0; }

.imagen {
  width: 100%;
  height: 80%;
  object-fit: cover; }

.imagen img {
  width: 60%;
  height: 100%;
  margin-left: 20%;
  border: 7px solid;
  box-sizing: border-box; }

.cerrar {
  display: block;
  background: white;
  width: 5%;
  height: 5%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: black; }

/*parafo quien soy*/
.parrafo__quiensoy {
  font-size: 1rem; }

/*imagenes de ofertas*/
.tarjeta {
  margin: 2%;
  transition: 1s;
  box-shadow: 10px 5px 5px rgba(131, 233, 224, 0.87); }
  .tarjeta:hover {
    transform: scale(1.2); }

.section__galeria {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  grid-template-areas: 'img1 img2 img3 img3' 'img1 img4 img3 img3' 'img5 img5 img7 img7' 'img5 img5 img6 img8';
  gap: 0.5%;
  margin: 0.5%; }

.galeria_imagenes--g1 {
  grid-area: img1; }

.galeria_imagenes--g2 {
  grid-area: img2; }

.galeria_imagenes--g3 {
  grid-area: img3; }

.galeria_imagenes--g4 {
  grid-area: img4; }

.galeria_imagenes--g5 {
  grid-area: img5; }

.galeria_imagenes--g6 {
  grid-area: img6; }

.galeria_imagenes--g7 {
  grid-area: img7; }

.galeria_imagenes--g8 {
  grid-area: img8; }

.galeria_img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section__contacto {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5%; }

/*formulario contacto*/
form {
  color: #2a8658;
  font-size: 1.5rem; }

.form {
  margin-left: 20%; }

/*parrafo ifrem contacto*/
.icon {
  font-size: 1.5rem;
  animation: float 4s ease-in-out infinite; }

.fa-whatsapp {
  animation-delay: 1.5s; }

.fa-facebook {
  animation-delay: 0.5s; }

.fa-instagram {
  animation-delay: 1s; }

.fa-circle-arrow-up {
  font-size: 200%;
  color: #2a8658; }

@keyframes float {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-25px); }
  100% {
    transform: translateX(0); } }

.parrafo__contacto {
  font-size: 1rem; }

.animate_animate.animate__backInDown {
  animation-duration: 3s; }

.animate_animate.animate__bounceInDown {
  animation-duration: 3s; }

.animate_animate.animate__bounceInUp {
  animation-duration: 3s; }

.animate_animate.animate__fadeInDown {
  animation-duration: 2s; }

.animate_animate.animate__fadeInDown {
  animation-duration: 2s; }

.fa-solid {
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contenedor {
    display: flex;
    flex-direction: column; }
  .nav {
    margin-top: 0%; }
    .nav .navegador {
      margin-top: 0%; }
  .img__logo {
    width: 10%; }
  h1 {
    font-size: 1.2rem; }
  h2 {
    font-size: 1.3rem; }
  .h3__inicio {
    font-size: 1rem; }
  .parrafo__inicio, .parrafo__quiensoy, .parrafo__contacto {
    font-size: 0.8rem; }
  .footer__h3 {
    font-size: 1.2rem;
    margin-left: 15%; }
  .footer__img {
    margin-left: 1%;
    width: 7%; }
  .footer .footer__ul {
    margin-left: 5%; }
    .footer .footer__ul .footer__li .footer__a {
      font-size: 1rem;
      text-decoration: none; }
  .icon {
    font-size: 1rem; }
  @keyframes float {
    0% {
      transform: translateX(0); }
    50% {
      transform: translateX(-10px); }
    100% {
      transform: translateX(0); } }
  .producto2__li, .productos2__p {
    flex: 50%; }
  .producto__li {
    display: block;
    margin-left: 20%; }
  .producto2__titulo {
    font-size: 1rem; }
  .producto2__subtitulo {
    font-size: 0.8rem; }
  .img__quiensoy {
    width: 100%; }
  .parrafo__quiensoy {
    font-size: 1rem; }
  .form {
    margin-left: 10%; }
  form {
    font-size: 1rem; }
  .comentario {
    width: 100%; }
  .ifrem {
    width: 200%; }
  .parrafo__contacto {
    font-size: 1rem; }
  .section__galeria {
    display: flex;
    flex-direction: column; }
  .navegador__a:hover {
    font-size: 1rem; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedor {
    display: flex;
    flex-direction: column; }
  .nav {
    margin-top: 0%;
    font-size: 1.2rem; }
    .nav .navegador {
      margin-top: 0%; }
  .img__logo {
    width: 15%; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  .section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center; }
  .h3__inicio {
    font-size: 1.5rem; }
  .parrafo__inicio, .parrafo__quiensoy, .parrafo__contacto {
    font-size: 1.3rem; }
  .footer__h3 {
    font-size: 1.8rem;
    margin-left: 25%; }
  .footer__img {
    margin-right: 1%;
    width: 8%; }
  .footer .footer__ul {
    margin-left: 15%; }
    .footer .footer__ul .footer__li {
      display: inline-block;
      list-style: none;
      text-decoration: none; }
      .footer .footer__ul .footer__li .footer__a {
        font-size: 1.5rem;
        text-decoration: none; }
  .icon {
    font-size: 1.5rem; }
  .producto__li {
    display: block;
    margin-left: 20%; }
  .producto2__titulo {
    font-size: 1rem; }
  .producto2__titulo {
    font-size: 0.8rem; }
  .parrafo__quiensoy {
    font-size: 1.2rem; }
  .parrafo__contacto {
    font-size: 1.5rem; }
  table, td {
    margin: auto;
    font-size: 0.5rem;
    font-weight: bold; }
  .section__galeria {
    display: grid;
    grid-template-columns: auto auto; }
  .navegador__a:hover {
    font-size: 1.2rem; } }
