$color-fondo:#2a8658;
$font-size-titulo:2rem;
$color-titulo: rgba(237, 231, 227, 1);
$color-footer-size:#ced8d4;
$font-size-nav:1.1rem;
$font-size-footer:1.1rem;
$font-size-subtitulo:0.95rem;
$font-family-titulos:'Poppins', sans-serif;
$font-family-parrafo:'Roboto', sans-serif;


$fuentes:(
    1 : 1.1rem,
    2 : 0.95rem,
    3 : 0.5rem,
    cuatro : 1rem,
    cinco: 1.5rem,
    6 : 1.3rem,
    7 : 0.8rem,
    9 : 1.2rem,
    10 : 0.7rem,
    11 : 2rem,
    12 : 1.8rem

);
@mixin display-aling-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}