@import "font.scss";
@import "config.scss";
@import "variables.scss";


header{
    background-color:$color-fondo  
}
/*titulo header*/

h1{
    font-size:map-get($fuentes,11);
    color: $color-titulo;
    font-family: $font-family-titulos;
    margin-top: 1%;
    font-weight: bold;
}
/*navegador header*/

.animate__animate.animate__flash{
    animation-duration: 5S;   
}
.animate_animate.animate__bounceInRight{
    animation-duration: 2s;
}
/*imagen header*/
.img__logo{
    width: 7%; 
    margin-top: 0.2%;
}
/*lista navegacion header*/

.nav{
    background-color: $color-fondo;
    flex-direction: column;
        .navegador{
            margin-top: 30%;
            position: fixed;
            position: sticky;
            top: 0;
            .navegador__li{
                font-size:map-get($fuentes,1);
                font-weight: bolder;
                color:/*rgb(255, 255, 255)*/rgb(75, 119, 141);
                .navegador__a{
                    @extend .navegador__li;
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                        }
        }
    }
/* titulo main index*/

h2{
    font-style: normal;
    font-size:map-get($fuentes,12);
    font-family: $font-size-titulo ;
    color: $color-letras;
    text-decoration: underline;
    margin: 0.5%;
}
/*subtitulos main index*/
.h3__inicio{
    font-family: $font-family-titulos;
    color:$color-letras;
    font-size:map-get($fuentes,1);
    font-weight: bolder; 
}
/*parrafo main index*/
.parrafo__inicio{
    font-family:$font-family-parrafo ;
    font-size:map-get($fuentes,2);
    color: $color-titulo;     
}
.img__inicio{
    object-fit: cover;
    
}

/*footer*/
.footer{
    background-color:$color-fondo;
    .footer__ul{
        list-style-type: none;
        text-decoration: none;
        .footer__li{
            margin-left: 3%;
            display: inline-block;
            text-decoration: none;
            .footer__a{
                text-decoration: none;
                color:/* $color-footer-size*/rgb(75, 119, 141);
                font-family: $font-family-parrafo;
                font-size:map-get($fuentes,1);
            }
        }
    }
}
/*titulo footer*/
.footer__h3{
    font-size:map-get($fuentes,1);
    font-family: $font-family-parrafo;
    color:/* $color-footer-size*/rgb(75, 119, 141);
    font-weight: bolder;
    margin-top: 1%;
    
}
/* imagen footer*/
.footer__img{
    margin-right: 1%;
    width: 5%;
}


/*primer seccion producto*/
.producto{
    font-size:map-get($fuentes,3);
    font-family: $font-family-titulos ;
    color:rgb(89, 199, 131);
    text-decoration: none;
}

/*primer lista de producto*/
.producto__li{
    display: inline-block; 
    border-style: none;
    text-decoration: none;
    margin: 0.6%; 
    margin-top: 1%;
    .producto__a{
        list-style: none;
        color: $color-titulo;
        font-size:map-get($fuentes,cuatro);
        font-weight: bold;
        border-style: none;
    } 
}
.ul__producto{
    justify-content: space-evenly;
}

/*producto general*/
.producto2__ul{
    list-style-type: none;
    display: inline-block;
}
.producto2__titulo{
    color:$color-letras;
    font-weight: bold;
    font-size:map-get($fuentes,cinco);
    font-family: $font-family-titulos ;
    margin-top: 2%;
    
}
/*genero perfumes*/
.producto2__subtitulo{
   color:rgb(83, 191, 157);
   font-family: $font-family-titulos ;
   font-size:map-get($fuentes,1);
   margin-top: 2%; 
   font-weight: bold;
}
/*producto*/
.producto2__li{
    color:$color-titulo;
    font-family: $font-family-parrafo ;
    font-weight: bold;
    text-align: center;  
    margin-top: 0%  
}
/*precio producto*/
.productos2__p{
    color:$color-letras;
    font-weight: normal;
    margin-top: 0%;
    text-align: center;
}
.mi__imagen{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40%;
    width: 20%;
    
}
.img__perfumeof{ 
  width: 30%;
  height: 30%;
  margin-left: 80%;
}
.img__perfumeo{ 
    width: 40%;
    height: 50%;
    margin-left: 33%;
}
.modal{
    display: none;
}
.modal:target{
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
}
.modal h3{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;   
}
.imagen{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.imagen img{
    width: 60%;
    height: 100%;
    margin-left:32%;
    border: 7px solid;
    box-sizing: border-box;
    
}
.cerrar{
    display: block;
    background: white;
    width: 5%;
    height: 5%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: black;
}

/*parafo quien soy*/
.parrafo__quiensoy{
    @extend .parrafo__inicio;
    font-size: map-get($fuentes,cuatro);
}

/*imagenes de ofertas*/

.tarjeta{
    margin: 4%;
    transition: 1s;
    box-shadow: 10px 5px 5px rgb(210, 230, 156);
    &:hover{
        transform:scale(1.1) ;
    }
}
.section__galeria{
    padding-bottom : 0.5%;
    padding-top: 0.5%;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: 250px;
    grid-template-areas: 
    'img1 img2 img3 img3'
    'img1 img4 img3 img3'
    'img5 img5 img7 img9'
    'img5 img5 img6 img8';
    gap: 0.5%; 
    margin: 0.5%; 
}
.galeria_img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.galeria_imagenes--g1{
      grid-area: img1;
}
.galeria_imagenes--g2{
      grid-area: img2;
}
.galeria_imagenes--g3{
      grid-area: img3;
}
.galeria_imagenes--g4{
      grid-area: img4;
}
.galeria_imagenes--g5{
      grid-area: img5;
}
.galeria_imagenes--g6{
      grid-area: img6;
}
.galeria_imagenes--g7{
      grid-area: img7;
}
.galeria_imagenes--g8{
      grid-area: img8;
}

.section__contacto{
    @include display-aling-flex ; 
        
}
.div__oferta{
    margin-top: 3%;
    border: solid 2px rgb(40, 181, 181);
}
.ofertaTitulo{
    margin-top: 8%;
    color: $color-titulo;
    font-family: $font-family-titulos;
    font-size: 2rem;
}
.ofertaTitu{
    color: $color-titulo;
    font-family: $font-family-titulos;
    font-size: 2rem;
}
.ofertaTexto{
    color: $color-letras;
    font-family: $font-family-parrafo;
    font-size: 1.5rem;
}
.ofertaIcono{
    color:rgb(255, 197, 77);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*formulario contacto*/
form{
    color:rgb(42, 134, 88) ;
    font-size:map-get($fuentes,cinco); 
}
.form{
    width: 100%;
}
/*parrafo ifrem contacto*/
.parrafo__contacto{
    @extend .parrafo__inicio;
}
.ifrem{
    width: 100%;
}

.icon{
    font-size:map-get($fuentes,cinco);
    animation: float 4s ease-in-out infinite
}
.fa-whatsapp{
    animation-delay: 1.5s;
}
.fa-facebook{
    animation-delay: 0.5s;
}
.fa-instagram{
    animation-delay: 1s;
}
.fa-circle-arrow-up{
    font-size: 200%;
    color: $color-fondo;
}
@keyframes float{
    0%{
        transform:translateX(0) ;
    }
    50%{
        transform: translateX(-25px);
    }
    100%{
        transform: translateX(0);
    }
}

.parrafo__contacto{
    font-size:map-get($fuentes,cuatro);
}
.animate_animate.animate__backInDown{
    animation-duration: 3s;
}
.animate_animate.animate__bounceInDown{
    animation-duration: 3s;
}
.animate_animate.animate__bounceInUp{
    animation-duration: 3s;
}
.animate_animate.animate__fadeInDown{
    animation-duration: 2s;
}
.animate_animate.animate__fadeInDown{
    animation-duration: 2s;
}
.fa-solid{
    align-items: center;
    justify-content: center;
}



@media screen and (min-width: 0px) and (max-width: 767px) {
    .contenedor{
        display: flex; 
        flex-direction: column;   
    }
    
    .nav{
        margin-top: 0%;
        .navegador{
            margin-top: 0%;  
            margin-left: 0%; 
        }
    }
    
    .img__logo{
        width: 10%;
    }
    h1{
        font-size:map-get($fuentes,9);
       
    }
    h2{
        font-size:map-get($fuentes,6);
        
    }
    .h3__inicio{
        font-size:map-get($fuentes,cuatro);
    }
    .parrafo__inicio{
        font-size:map-get($fuentes,7);
    }
    
    .footer__h3{
        font-size:map-get($fuentes,9);
    }
    .footer__img{
        margin-left: 1%;
        width: 7%;
        
    }
    .footer{
        .footer__ul{
            .footer__li{   
                .footer__a{
                    font-size:map-get($fuentes,cuatro); 
                    text-decoration: none;
                        }  
                    }
                }
    }
    .icon{
        font-size:map-get($fuentes,cuatro);
    }
    @keyframes float{
        0%{
            transform:translateX(0) ;
        }
        50%{
            transform: translateX(-10px);
        }
        100%{
            transform: translateX(0);
        }
    }
    .producto2__li{
        flex: 50%;
    }
    .producto__li{
        display: block;
        margin-left: 20%;
    }
    .producto2__titulo{
        font-size:map-get($fuentes,cuatro);
    }
    .producto2__subtitulo{
        font-size: map-get($fuentes,7);
    }
    .img__quiensoy{
        width: 100%;
    }
    .parrafo__quiensoy{
        font-size:map-get($fuentes,cuatro);
    }
    .form{
        margin-left: 10%;
    }
    form{
        font-size:map-get($fuentes,cuatro);
        
    }
    .comentario{
        width: 100%;
    }
    
    .parrafo__contacto{
        font-size:map-get($fuentes,cuatro);
    }
    .section__galeria{
        display: flex;
        flex-direction: column;
    }
    
    .navegador__a:hover{
        font-size:map-get($fuentes,cuatro);
    }
    .tarjeta{
        &:hover{
            transform: scale(1.1);
        }
    }
    .imagen img{
        width: 90%;
        height: 80%;
        margin-left:20%;
        border: 7px solid;
        box-sizing: border-box;
        margin-top: 35%;
    }
    .cerrar{
        margin-top: 0%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor{
        display: flex; 
        flex-direction: column; 
    }
    
    .nav{
        margin-top: 0%;
        font-size: map-get($fuentes,9);
        .navegador{
            margin-top: 0%;
        }
    }
    .img__logo{
        width: 15%;
    }
    h1{
        font-size:map-get($fuentes,11);
        
    }
    h2{
        font-size:map-get($fuentes,12);
    }
    .section__galeria{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center; 
        margin-top: 5%;
        grid-template-areas: 
            'img1 img2 img3'
            'img4 img5 img6'
            'img7 img8 img9';
    }
    .galeria_imagenes--g1{
        grid-area: img1;
    }
    .galeria_imagenes--g2{
            grid-area: img2;
    }
    .galeria_imagenes--g3{
            grid-area: img3;
    }
    .galeria_imagenes--g4{
            grid-area: img4;
    }
    .galeria_imagenes--g5{
            grid-area: img5;
    }
    .galeria_imagenes--g6{
            grid-area: img6;
    }
    .galeria_imagenes--g7{
            grid-area: img7;
    }
    .galeria_imagenes--g8{
            grid-area: img8;
    }
    
    
    .h3__inicio{
        font-size:map-get($fuentes,cinco);
    }
    .parrafo__inicio{
        font-size:map-get($fuentes,6);
    }
    
    .footer__h3{
        font-size:map-get($fuentes,12);
        
    }
    .footer__img{
        margin-right: 1%;
        width: 8%;
        
    }
    .footer{
        .footer__ul{
            .footer__li{
                display: inline-block;
                list-style: none;
                text-decoration: none;  
                .footer__a{
                    font-size:map-get($fuentes,cinco); 
                    text-decoration: none;
                    } 
                } 
            }
    }
    
    .icon{
        font-size:map-get($fuentes,cinco);
    }
    .producto__li{
        display: block;
        margin-left: 20%;
    }
    
    .producto2__titulo{
        font-size:map-get($fuentes,cuatro);
    }.producto2__titulo{
        font-size:map-get($fuentes,7);
    }
    .parrafo__quiensoy{
        font-size:map-get($fuentes,9);
    }
    .parrafo__contacto{
        font-size:map-get($fuentes,cinco);
    }
    .section__galeria{
        display: grid;
        grid-template-columns: auto auto;
    }
    .navegador__a:hover{
        font-size:map-get($fuentes,9);
    }
    .comentario{
        width: 100%;
    }
    .imagen img{
        width: 90%;
        height: 100%;
        margin-left:20%;
        border: 7px solid;
        box-sizing: border-box;
    }
}