


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

$color-fondo:#2a8658;
$font-size-titulo:2rem;
$color-titulo: rgba(237, 231, 227, 1);
$color-footer-size:#ced8d4;
$font-size-nav:1.1rem;
$font-size-footer:1.1rem;
$font-size-subtitulo:0.95rem;
$font-family-titulos:'Poppins', sans-serif;
$font-family-parrafo:'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    grid-template-areas: 
        "nav header "
        "nav main "
        "footer footer";
        grid-row: 0.25fr 1.5fr 0.25 ;
        grid-template-columns: 10% auto;

}
.header{
    grid-area: header;    
}
.nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
/*inicio hedear*/
header{
    background-color: $color-fondo;  
}


/*titulo header*/

h1{
    font-size:$font-size-titulo;
    color: $color-titulo;
    font-family: $font-family-titulos;
    margin-top: 2%;   
}
/*navegador header*/

.animate__animate.animate__flash{
    animation-duration: 5S;   
}
.animate_animate.animate__bounceInRight{
    animation-duration: 2s;
}
/*imagen header*/
.img__logo{
    width: 8%; 
    margin-top: 0.2%;
}
/*lista navegacion header*/

.nav{
    background-color: $color-fondo;
    .navegador{
        position: fixed;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
    
        .navegador__li{
        font-size: 1.1rem;
        font-weight: bolder;
        color: rgb(255, 255, 255);
            .navegador__a{
            font-size: $font-size-nav;
            font-weight: bolder;
            color:rgb(255, 255, 255);
                        &:hover{
                            transform: scale(1.2);
                        }
                        }
                    }
            }
}
/* titulo main index*/

h2{
    font-style: normal;
    font-size: $color-titulo;
    font-family: $font-size-titulo ;
    color: $color-fondo;
    text-decoration: underline;
}
/*subtitulos main index*/
.h3__inicio{
    font-family: $font-family-titulos;
    color:$color-fondo;
    font-size: $font-size-subtitulo;
    font-weight: bolder; 
}
/*parrafo main index*/
.parrafo__inicio{
    font-family:$font-family-parrafo ;
    font-size: $font-size-subtitulo;
    color: rgb(42, 134, 88);     
}

/*footer*/
.footer{
    background-color:$color-fondo;
    .footer__ul{
        list-style-type: none;
        margin-left: 32%;
        text-decoration: none;
        .footer__li{
            margin-left: 3%;
            display: inline-block;
            text-decoration: none;
            .footer__a{
                text-decoration: none;
                color: $color-footer-size;
                font-family: $font-family-parrafo;
                font-size: $font-size-footer;
            }
        }
    }
}
/*titulo footer*/
.footer__h3{
    font-size: $font-size-footer;
    font-family: $font-family-parrafo;
    color: $color-footer-size;
    font-weight: bolder;
    margin-left: 43%;
    margin-top: 1%;
    
}
/* imagen footer*/
.footer__img{
    position: absolute;
    margin-top: 1%;
    margin-left: 28%;
    width: 6%;
    height: 10%;
}


/*primer seccion producto*/
.producto{
    font-size: 0.5rem;
    font-family: 'Poppins', sans-serif ;
    color:rgb(89, 199, 131);
    text-decoration: none;
}

/*primer lista de producto*/
.producto__li{
    display: inline-block; 
    border-style: none;
    text-decoration: none;
    margin: 0.3%;  
}
/*primer lista de producto*/
.producto__a{
    list-style: none;
    color: rgb(23, 156, 57);
    font-size: 1rem;
    font-weight: bold;
    border-style: none;
    
}
/*producto general*/
.producto2__titulo{
    color: rgb(38, 129, 58);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif ;
    margin-top: 2%;  
}
/*genero perfumes*/
.producto2__subtitulo{
   color: rgb(71, 95, 76) ;
   font-family: 'Poppins', sans-serif ;
   font-size: 1.1rem;
   margin-top: 2%;
   font-weight: bold;
}
/*producto*/
.producto2__li{
    color: rgb(35, 161, 56);
    font-family: 'Poppins', sans-serif ;
    font-weight: bold;
    text-align: center;    
}
/*precio producto*/
.productos2__p{
    color: rgb(35, 161, 56);
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;   
}
.img__perfumeof{ 
  width: 30%;
  height: 30%;
  margin-left: 80%;
}
.img__perfumeo{ 
    width: 40%;
    height: 50%;
    margin-left: 33%;
}
.img__originales{
    width: 50%;
    height: 60%;
    transition: 1s;
    
    
}
.img__originales:hover{
    transform: scale(1.2);
}
.galeria_img:hover{
    transform: scale(1.2);
    ;
}

/*parafo quien soy*/
.parrafo__quiensoy{
    font-family:'Poppins', sans-serif ;
    font-size: 1rem;
    color: rgb(42, 134, 88);  
    
}

/*imagenes de ofertas*/

.img__ofertas{
    
    width: 20%;
    height: 70%; 
     
}
.tarjeta{
    margin: 2%;
}
.section__galeria{
    padding-bottom : 1%;
    padding-top: 1%;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: 23%;
    grid-template-areas: 
    'img1 img2 img3 img3'
    'img1 img4 img3 img3'
    'img5 img5 img7 img7'
    'img5 img5 img6 img8';
    gap: 1%; 
    margin: 1%; 
}
.galeria_imagenes--g1{
      grid-area: img1;
}
.galeria_imagenes--g2{
      grid-area: img2;
}
.galeria_imagenes--g3{
      grid-area: img3;
}
.galeria_imagenes--g4{
      grid-area: img4;
}
.galeria_imagenes--g5{
      grid-area: img5;
}
.galeria_imagenes--g6{
      grid-area: img6;
}
.galeria_imagenes--g7{
      grid-area: img7;
}
.galeria_imagenes--g8{
      grid-area: img8;
}
.galeria_img{
      width: 100%;
      height: 100%;
      /*la imagen no pierde la resolucion */
      object-fit: cover;
}

.section__contacto{
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    margin: 2%;   
    
    
}
/*formulario contacto*/
form{
    color:rgb(42, 134, 88) ;
    font-size: 1.5rem;   
}
.form{
    margin-left: 20%;
    
}
/*parrafo ifrem contacto*/
.parrafo__contacto{
    font-size: 1rem;
    color:rgb(42, 134, 88) ;
}


.icon{
    font-size: 1.5rem;
    animation: float 4s ease-in-out infinite
}
.fa-whatsapp{
    animation-delay: 1.5s;
}
.fa-facebook{
    animation-delay: 0.5s;
}
.fa-instagram{
    animation-delay: 1s;
}
@keyframes float{
    0%{
        transform:translateX(0) ;
    }
    50%{
        transform: translateX(-25px);
    }
    100%{
        transform: translateX(0);
    }
}

.parrafo__contacto{
    font-size: 1rem;
}
.animate_animate.animate__backInDown{
    animation-duration: 3s;
}
.animate_animate.animate__bounceInDown{
    animation-duration: 3s;
}
.animate_animate.animate__bounceInUp{
    animation-duration: 3s;
}
.animate_animate.animate__fadeInDown{
    animation-duration: 2s;
}
.animate_animate.animate__fadeInDown{
    animation-duration: 2s;
}
.fa-solid{
    align-items: center;
    justify-content: center;
}



@media screen and (min-width: 0px) and (max-width: 767px) {
    .contenedor{
        display: flex; 
        flex-direction: column;   
    }
    nav{
        margin-top: 0%;
    }
    .img__logo{
        width: 10%;
    }
    h1{
        font-size: 0.8rem;
       
    }
    h2{
        font-size: 1.3rem;
        
    }
    .h3__inicio{
        font-size: 1rem;
    }
    .parrafo__inicio{
        font-size: 0.8rem;
    }
    
    .footer__h3{
        font-size: 1.2rem;
        margin-left: 18%;
    }
    .footer__img{
        position: absolute;
        margin-top: 1%;
        margin-left: 5%;
        width: 6%;
        height: 6%;
    }
    .footer__ul{
        margin-left: 12%;
    }
    .footer__li{
        
        display: inline-block;
        list-style: none;
        text-decoration: none;  
    }
    .footer__a{
        font-size: 0.8rem;  
        text-decoration: none;
    }  
    .icon{
        font-size: 0.8rem;
    }
    .producto2__li{
        flex: 50%;
    }
    .producto2__titulo{
        font-size: 0.5;
    }.producto2__titulo{
        font-size: 0.7rem;
    }
    .img__quiensoy{
        width: 100%;
    }
    .parrafo__quiensoy{
        font-size: 1rem;
    }
    .form{
        margin-left: 10%;
    }
    form{
        font-size: 1rem;
        
    }
    .comentario{
        width: 100%;
    }
    .ifrem{
        width: 200%;
    }
    .parrafo__contacto{
        font-size: 1rem;
    }
    table,td{
        margin: auto;
        font-size: 0.5rem;
        font-weight: bold;
    }
    table,th{
        font-size: 0.8rem;
    }
    .section__galeria{
        display: flex;
        flex-direction: column;
    }
    .navegador__a:hover{
        font-size: 1rem;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor{
        display: flex; 
        flex-direction: column; 
    }
    nav{
        margin-top: 0%;
        font-size: 1.2rem;
    }
    .img__logo{
        width: 15%;
    }
    h1{
        font-size: 2rem;
        
    }
    h2{
        font-size: 1.8rem;
    }
    .section{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center; 
    }
    
    
    
    .h3__inicio{
        font-size: 1.5rem;
    }
    .parrafo__inicio{
        font-size: 1.3rem;
    }
    
    .footer__h3{
        font-size: 1.8rem;
        margin-left: 25%;
    }
    .footer__img{
        position: absolute;
        margin: 1%;
        margin-left: 5%;
        width: 6%;
        height: 6%;
    }
    .footer__ul{
        margin-left: 15%;
    }
    .footer__li{
        
        display: inline-block;
        list-style: none;
        text-decoration: none;  
    }
    .footer__a{
        font-size: 1.5rem;  
        text-decoration: none;
    }  
       
    
    .icon{
        font-size: 1.2rem;
    }
    .producto__li{
        display: block;
        margin-left: 20%;
    }
    .producto2__titulo{
        font-size: 0.8;
    }.producto2__titulo{
        font-size: 1rem;
    }
    .parrafo__quiensoy{
        font-size: 1.2rem;
    }
    .parrafo__contacto{
        font-size: 1.5rem;
    }
    table,td{
        margin: auto;
        font-size: 0.5rem;
        font-weight: bold;
    }
    table,th{
        font-size: 0.8rem;
    }
    .section__galeria{
        display: flex;
        flex-direction: column;
    }
    .navegador__a:hover{
        font-size: 1.2rem;
    }
    
}